
aws-google-auth==0.0.38
bcrypt==4.0.1
beautifulsoup4==4.11.1
boto3==1.24.93
botocore==1.27.93
cachetools==5.2.0
certifi==2022.9.24
cffi==1.15.1
charset-normalizer==2.1.1
configparser==5.3.0
confluent-kafka==1.9.2
contourpy==1.0.5
cryptography==38.0.1
cycler==0.11.0
distlib==0.3.6
filelock==3.8.0
fonttools==4.38.0
google-api-core==2.11.0
google-api-python-client==2.69.0
google-auth==2.15.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.7.1
googleapis-common-protos==1.57.0
-e git+ssh://git@github.com/Gamesight/gstunnel.git@ef1b5c6a717bfc61ddbb15e65e8421dcd7ac5f7b#egg=gstunnel
hidapi==0.12.0.post2
httplib2==0.21.0
idna==3.4
jaraco.classes==3.2.3
jmespath==1.0.1
keyring==23.9.3
keyrings.alt==4.2.0
kiwisolver==1.4.4
lxml==4.9.1
matplotlib==3.6.1
more-itertools==9.0.0
numpy==1.23.4
oauthlib==3.2.2
packaging==21.3
pandas==1.5.1
paramiko @ git+https://github.com/JulianEberius/paramiko@bb1f795db46891961b6a816df3c59e132de7f211
Pillow==9.2.0
platformdirs==2.5.2
protobuf==4.21.9
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
PyNaCl==1.5.0
pyparsing==3.0.9
python-dateutil==2.8.2
python-u2flib-host==3.0.3
pytz==2022.5
pytz-deprecation-shim==0.1.0.post0
requests==2.28.1
requests-oauthlib==1.3.1
rsa==4.9
s3transfer==0.6.0
six==1.16.0
soupsieve==2.3.2.post1
sshtunnel==0.3.2
tabulate==0.9.0
tzdata==2022.5
tzlocal==4.2
uritemplate==4.1.1
urllib3==1.26.12
virtualenv==20.16.6
